In [1]:
from portfolio.holdings import Portfolio

p = Portfolio()
df = p.holdings

[*********************100%***********************]  35 of 35 completed

1 Failed download:
- SRS.AX: No data found, symbol may be delisted

                   Volume     Close
Date       Ticker
2015-01-07 A2M        NaN       NaN
           ACW        NaN  0.074000
           AMT        NaN  0.055536
           AVH        NaN  0.069718
           AVZ        NaN  0.005000
...                   ...       ...
2020-03-30 TTT     2067.0       NaN
           VRS     -105.0       NaN
           WOW       48.0       NaN
           WZR     4448.0       NaN
           ZNO     5004.0       NaN

[46812 rows x 2 columns]