In [1]:
import pandas as pd
from datetime import datetime

from analysis.tax import AutoTax

t = AutoTax()
# t.report()

In [65]:
df = pd.DataFrame(t.cgt_log.view).set_index('date')
df

,ticker,volume,cg,cgt,buy_parcels,sell_parcel
date,,,,,,
2018-09-17,A2M,-300.0,1302.000046,1262.000046,"[{'Date': 2017-11-01 00:00:00, 'Volume': 300.0...","{'Date': 2018-09-17 00:00:00, 'Volume': -300.0..."
2018-09-26,AMT,-25000.0,750.000216,710.000216,"[{'Date': 2018-06-20 00:00:00, 'Volume': 25000...","{'Date': 2018-09-26 00:00:00, 'Volume': -25000..."
2020-01-10,AVH,-1551.0,868.559969,422.962899,"[{'Date': 2018-11-06 00:00:00, 'Volume': 11776...","{'Date': 2020-01-10 00:00:00, 'Volume': -1551...."
2020-03-23,BBOZ,-46.0,197.800009,177.800009,"[{'Date': 2020-03-20 00:00:00, 'Volume': 46.0,...","{'Date': 2020-03-23 00:00:00, 'Volume': -46.0,..."
2020-03-13,BBUS,-1500.0,795.000315,755.000315,"[{'Date': 2020-03-12 00:00:00, 'Volume': 1500....","{'Date': 2020-03-13 00:00:00, 'Volume': -1500...."
2020-03-16,BBUS,-2000.0,1300.000191,1250.000191,"[{'Date': 2020-03-16 00:00:00, 'Volume': 2000....","{'Date': 2020-03-16 00:00:00, 'Volume': -2000...."
2020-03-17,BBUS,-1785.0,-1070.999830,-1110.999830,"[{'Date': 2020-03-17 00:00:00, 'Volume': 1785....","{'Date': 2020-03-17 00:00:00, 'Volume': -1785...."
2020-03-23,BBUS,-1818.0,2272.500000,2222.500000,"[{'Date': 2020-03-19 00:00:00, 'Volume': 1818....","{'Date': 2020-03-23 00:00:00, 'Volume': -1818...."
2019-11-19,EHE,-420.0,176.399932,58.199966,"[{'Date': 2018-09-28 00:00:00, 'Volume': 420.0...","{'Date': 2019-11-19 00:00:00, 'Volume': -420.0..."
2020-01-14,IFN,-1767.0,186.615034,43.847517,"[{'Date': 2019-09-27 00:00:00, 'Volume': 27.0,...","{'Date': 2020-01-14 00:00:00, 'Volume': -1767...."
2018-09-26,MSB,-676.0,283.919971,253.919971,"[{'Date': 2018-06-29 00:00:00, 'Volume': 676.0...","{'Date': 2018-09-26 00:00:00, 'Volume': -676.0..."
2018-06-08,NAN,-1500.0,1078.950047,1043.950047,"[{'Date': 2017-08-03 00:00:00, 'Volume': 2000....","{'Date': 2018-06-08 00:00:00, 'Volume': -1500...."
2019-08-28,NAN,-473.0,1910.588883,930.564442,"[{'Date': 2017-08-03 00:00:00, 'Volume': 500.0...","{'Date': 2019-08-28 00:00:00, 'Volume': -473.0..."
2019-06-26,OZL,-103.0,37.359916,-11.320042,"[{'Date': 2018-05-28 00:00:00, 'Volume': 103.0...","{'Date': 2019-06-26 00:00:00, 'Volume': -103.0..."
2019-11-27,PTX,-7699.0,377.250961,172.395508,"[{'Date': 2018-08-14 00:00:00, 'Volume': 12358...","{'Date': 2019-11-27 00:00:00, 'Volume': -7699...."
2020-03-26,QAN,-345.0,175.949997,145.949997,"[{'Date': 2020-03-17 00:00:00, 'Volume': 345.0...","{'Date': 2020-03-26 00:00:00, 'Volume': -345.0..."
2018-09-18,QBE,-537.0,415.580253,81.905129,"[{'Date': 2018-04-20 00:00:00, 'Volume': 2.0, ...","{'Date': 2018-09-18 00:00:00, 'Volume': -537.0..."
2018-05-15,RMD,-73.0,442.380031,206.323349,"[{'Date': 2016-04-28 00:00:00, 'Volume': 300.0...","{'Date': 2018-05-15 00:00:00, 'Volume': -73.0,..."
2018-06-21,RMD,-227.0,1613.969922,771.851628,"[{'Date': 2016-04-28 00:00:00, 'Volume': 227.0...","{'Date': 2018-06-21 00:00:00, 'Volume': -227.0..."
2018-07-19,SRS,-30333.0,151.664968,121.664968,"[{'Date': 2018-05-15 00:00:00, 'Volume': 30333...","{'Date': 2018-07-19 00:00:00, 'Volume': -30333..."
2020-03-26,TWE,-107.0,89.880016,59.880016,"[{'Date': 2020-03-09 00:00:00, 'Volume': 107.0...","{'Date': 2020-03-26 00:00:00, 'Volume': -107.0..."
2020-03-26,UCM,-4352.0,304.640034,274.640034,"[{'Date': 2020-03-19 00:00:00, 'Volume': 4352....","{'Date': 2020-03-26 00:00:00, 'Volume': -4352...."
2020-01-10,VRS,-4553.0,-748.362959,-778.362959,"[{'Date': 2018-09-25 00:00:00, 'Volume': 105.0...","{'Date': 2020-01-10 00:00:00, 'Volume': -4553...."
2019-11-19,WOW,-52.0,642.439948,190.819974,"[{'Date': 2018-10-12 00:00:00, 'Volume': 2.0, ...","{'Date': 2019-11-19 00:00:00, 'Volume': -52.0,..."
2020-02-18,ZNO,-2173.0,4563.299890,4538.957364,"[{'Date': 2019-05-14 00:00:00, 'Volume': 5004....","{'Date': 2020-02-18 00:00:00, 'Volume': -2173...."
2020-03-26,ZNO,-654.0,256.695028,229.246281,"[{'Date': 2020-03-23 00:00:00, 'Volume': 878.0...","{'Date': 2020-03-26 00:00:00, 'Volume': -654.0..."

In [63]:
ticker = 'SRS'
x = df.loc[df['ticker']==ticker][['buy_parcels','sell_parcel']].to_dict('series')

buys, sells = pd.DataFrame(), pd.DataFrame()
for buy, sell in zip(x['buy_parcels'],x['sell_parcel']):
    sells = pd.concat([sells,pd.DataFrame([sell])],join='outer')
    buys = pd.concat([buys,pd.DataFrame(buy)],join='outer')

sells['Type'] = 'Sells'
buys['Type'] = 'Buys'
mixed = pd.concat([sells,buys]).set_index(['Type','Date'])

print(ticker)
mixed.sort_values(['Date','Volume'],ascending=[True,False])

SRS

,,Volume,TradePrice,EffectivePrice,Brokerage,Pro-rate_brokerage
Type,Date,,,,,
Buys,2018-05-15,30333.0,0.033,0.033330,0.0,10.0
Sells,2018-07-19,-30333.0,0.038,0.037342,20.0,NaN